<!DOCTYPE html>
<html lang="{{page.lang}}">
{% include head.html %}

<body>
  <main id="main-container" class="container">
    <header id="header-container">
      <div class="row align-items-center text-center justify-content-center">
        <div class="col">
            {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
            <div class="btn-group" role="group" aria-label="Basic example">
              {% for item in pages %}
                <a href="{{item.url | prepend: site.baseurl}}" class="btn btn-outline-primary">{{item.lang | upcase}}</a>
              {% endfor %}
            </div>
        </div>
        <div class="col text-center d-none d-sm-block">
          <h1>Silicolight</h1>
        </div>
        <div class="col">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="{{site.facebook}}" aria-label="Facebook page" class="btn btn-outline-primary"><i class="fab fa-2x fa-facebook"></i></a>
                <a href="{{site.twitter}}" aria-label="Twitter account" class="btn btn-outline-primary"><i class="fab fa-2x fa-twitter-square"></i></a>
                <a href="{{site.youtube}}" aria-label="Youtube channel" class="btn btn-outline-primary"><i class="fab fa-2x fa-youtube-square"></i></a>
              </div>
        </div>
        <div class="col-12">
          {%- include header.html -%}
        </div>
      </div>
    </header>
    <div class="row">
      <div id="content-col" class="col px-4 py-4 text-justify">
        {{content}}
      </div>
    </div>
  </main>
  {%include footer.html%}
  <script src="{{"/js/jquery.min.js" | prepend: site.baseurl}}"></script>
  <script src="{{"/js/bootstrap.min.js" | prepend: site.baseurl}}"></script>
  <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="NDI5ZWYyNDAtZmUwYS00MDE3LTkyNTktOWYyYTE0MzljOWNhNjM2MTcyMzQ5MTI4MzI0NDUy"></script>
  <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
</body>

</html>